{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": false,
        "refresh": true
      }
    },
    "externalHelpers": true
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "minify": false
}
